header {
  margin: 0 auto;
  padding: 0.2rem;
  max-width: 103.6rem;
}

.Navbar {
  display: block;
}

.Navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
}

.Navbar__brand {
  align-self: flex-start;
  margin-top: 4rem;
}

.Navbar__list {
  display: flex;
  list-style: none;
}

.Navbar .Navbar__list a {
  display: block;
  flex: 0 0 auto;

  position: relative;
  padding: 5.6rem 1.6rem 1.6rem;
  max-width: 60rem;

  background: #f4f6f8;
  color: #1a222b;
  text-decoration: none;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1;
}

.Navbar .Navbar__list li {
  display: table-cell;
}

@media (min-width: 46.5em) {
  header {
    padding: 0 3.2rem;
  }
}

@media (min-width: 40em) {
  header {
    font-size: 1.4rem;
  }
}

@media (max-width: 30.625em) {
  .Navbar__brand {
    display: none;
  }
  .Navbar__list {
    padding-left: 0;
  }
}
